.b-page-title {
    padding: 28px 0;
    font-size: 24px;
    width: 100%;
}

.b-dashboard-widget {
    width: 50%;
    min-height: 240px;

    border-top: 4px solid #2684ff;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
    border-radius: 4px;
}

.b-dashboard-widget__title {
    font-weight: 600;

    padding: 16px 64px 16px 24px;
}

.b-dashboard-widget__content {
    padding: 0 24px 16px 24px;
}
